version: "3"
services:
  jekyll:
    build: ./build
    restart: always
    env_file:
      - jekyll.env
    volumes:
      - ./output:/usr/local/app
      - bundle_volume:/usr/local/bundle

  nginx:
    image: nginx:latest
    volumes:
      - ./output:/usr/share/nginx/html
    environment:
      TZ: Asia/Tokyo

volumes:
  bundle_volume:
