# Time Zone
TZ="Asia/Tokyo"

# Jekyll Options
JEKYLL_MODE="build"
JEKYLL_ARGS=""
JEKYLL_NEW_BLANK=false

# Site Repo's
SITE_REPOSITORY=""
SITE_BRANCH="master"

# Theme Repo's
THEME_REPOSITORY=""
# Set TAG Name OR latest. OR HEAD
THEME_TAG="latest"